.flex-start {
  display: flex;
  align-items: flex-start; /* Align items at the start */
}

.image-left,
.image-right {
  max-width: 300px;
  margin-right: 10px;
}

.image-middle {
  max-width: 300px;
  height: 500px; /* Set a height to make it taller */
  margin-right: 0px;
  margin-top: -50px; /* Adjust the top margin to start at a higher position */
}

.flex-1 {
  flex: 1 1 0%;
}

.-mb-4 {
  margin-bottom: -1rem;
}

.py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py-14 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-160 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pt-16 {
  padding-top: 16px;
}

.mb-6 {
  margin-bottom: 6px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-240 {
  margin-bottom: 240px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-200 {
  margin-bottom: 200px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-100 {
  margin-right: 100px;
}

.mr-450 {
  margin-right: 450px;
}

.mr-350 {
  margin-right: 350px;
}

.mr-300 {
  margin-right: 300px;
}

.mr-280 {
  margin-right: 280px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-16 {
  margin-top: 16px;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mt-300 {
  margin-top: 300px;
}

.mt-400 {
  margin-top: 400px;
}

.mt-100 {
  margin-top: 100px;
}

.ml-250 {
  margin-left: 250px;
}

.ml-350 {
  margin-left: 350px;
}

.ml-16 {
  margin-left: 16px;
}

.ml-475 {
  margin-left: 475px;
}

.ml-100 {
  margin-left: 100px;
}

.pt-8 {
  padding-top: 2rem;
}

.pt-16 {
  padding-top: 16px;
}

.pb-4 {
  padding-bottom: 3.5rem;
}

.pb-14 {
  padding-bottom: 3.5rem;
}

.border-bottom {
  border-bottom: 1px solid grey; /* Assuming you already have this */
}

.border-top {
  border-top: 1px solid grey; /* Assuming you already have this */
}

.border-stone-25 {
  border-color: rgb(209 209 209);
}

.border-t {
  border-top-width: 1px;
}

.py-\[26px\] {
  padding-top: 26px;
  padding-bottom: 26px;
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(26 26 26 / var(--tw-bg-opacity));
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.justify-end {
  justify-content: flex-end;
}

.fixed {
  position: fixed;
}
.show {
  display: block;
}

.wrap-word {
  width: 450px;
  word-wrap: break-word;
}

.wrap-word-2 {
  width: 350px;
  word-wrap: break-word;
}

.wrap-word-3 {
  width: 550px;
  word-wrap: break-word;
}

.full-h”jd {
  height: 100%;
}

.full-bredd {
  width: 100%;
}

.top-1\/2 {
  top: 50%;
}

.left-1\/2 {
  left: 50%;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-stretch {
  align-items: stretch;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.order-last {
  order: 9999;
}

.min-h-full {
  min-height: 100%;
}

.hidden {
  display: none;
}

.mt-20 {
  margin-top: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.items-center {
  align-items: center;
}

.padding-10 {
  padding: 10px;
}

.padding-15 {
  padding: 15px;
}

.FullBleedHero_heading__PAE6x {
  position: relative;
  z-index: 10;
  font-family: Tiempos Headline, serif;
  font-size: 58px;
  font-weight: 600;
  letter-spacing: .005em;
  line-height: 1.18;
}

/* Responsive styles */
@media (max-width: 1200px) {
  .image-left,
  .image-right {
    max-width: 250px;
  }

  .image-middle {
    max-width: 250px;
    height: auto;
    margin-top: -30px;
  }

  .wrap-word {
    width: 400px;
  }

  .wrap-word-2 {
    width: 300px;
  }

  .wrap-word-3 {
    width: 500px;
  }
}

@media (max-width: 992px) {
  .image-left,
  .image-right {
    max-width: 200px;
  }

  .image-middle {
    max-width: 200px;
    height: auto;
    margin-top: -20px;
  }

  .wrap-word {
    width: 350px;
  }

  .wrap-word-2 {
    width: 250px;
  }

  .wrap-word-3 {
    width: 450px;
  }

  .ml-250 {
    margin-left: 200px;
  }

  .ml-350 {
    margin-left: 300px;
  }

  .ml-475 {
    margin-left: 400px;
  }
}

@media (max-width: 768px) {
  .image-left,
  .image-right {
    max-width: 150px;
  }

  .image-middle {
    max-width: 150px;
    height: auto;
    margin-top: -10px;
  }

  .wrap-word {
    width: 300px;
  }

  .wrap-word-2 {
    width: 200px;
  }

  .wrap-word-3 {
    width: 400px;
  }

  .ml-250,
  .ml-350,
  .ml-475 {
    margin-left: 0;
  }

  .flex-start {
    align-items: center;
  }

  .justify-end {
    justify-content: center;
  }

  .justify-between {
    justify-content: center;
  }

  .items-center {
    align-items: center;
  }

  .fixed {
    position: relative;
  }
}

@media (max-width: 576px) {
  .image-left,
  .image-right,
  .image-middle {
    max-width: 100px;
  }

  .wrap-word,
  .wrap-word-2,
  .wrap-word-3 {
    width: 100%;
  }

  .justify-end,
  .justify-between {
    justify-content: center;
  }

  .items-center {
    align-items: center;
  }

  .fixed {
    position: relative;
  }

  .padding-10,
  .padding-15 {
    padding: 5px;
  }

  .FullBleedHero_heading__PAE6x {
    font-size: 24px;
    text-align: center;
  }

  .ml-100,
  .ml-250,
  .ml-350,
  .ml-475 {
    margin-left: 0;
  }

  .mt-70,
  .mt-100,
  .mt-300,
  .mt-400 {
    margin-top: 20px;
  }

  .mr-16,
  .mr-100,
  .mr-450,
  .mr-350,
  .mr-300,
  .mr-280 {
    margin-right: 0;
  }

  .mt-16 {
    margin-top: 8px;
  }

  .mt-20 {
    margin-top: 10px;
  }

  .pt-16 {
    padding-top: 8px;
  }

  .pb-4,
  .pb-14 {
    padding-bottom: 2rem;
  }

  .py-16,
  .py-14,
  .py-12,
  .py-160 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
