/* app/create/CreatePost.module.css */
.container {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 5px;
  color: #555;
}

.input,
.textarea {
  padding: 10px;
  margin-bottom: 20px; /* L„gg till marginal h„r */
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
}

.button {
  padding: 10px 20px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #005bb5;
}
